# secrets
*.secret
*.token
*.env
*.pem
*.pfx
*.p12

# logs
*.log

# python
__pycache__/
*.pyc
delegated_refresh_token.txt
*.jwt
examples/**/delegated_refresh_token*.txt
examples/**/o365_token*.jwt
scripts/test/o365_xoauth2_test.py
secrets/lxca-o365-rotate.secrets.xml
examples/lxca-o365-rotate.config-test.json
